name: App

on:
  push:
    paths:
      - "app/**"
      - "tests/**"
      - ".github/workflows/app.yml"
      - ".github/workflows/e2e-tests.yml"
  workflow_dispatch:
    inputs:
      deploy:
        description: "Force deployment"
        required: false
        default: "false"

jobs:
  build:
    name: Build App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: app/package-lock.json

      - name: Get current time
        uses: josStorer/get-current-time@v2
        id: current-time

      - name: NPM Install
        working-directory: app
        run: |
          npm ci

      - name: Check types
        working-directory: app
        run: |
          npm run types:check

      - name: Lint
        working-directory: app
        run: |
          npm run lint

      - name: Build
        working-directory: app
        env:
          VITE_COMMIT_HASH: ${{github.sha}}
          VITE_VERSION: ${{github.run_number}}
          VITE_MERGE_DATE_TIME: ${{steps.current-time.outputs.time}}
          VITE_APP_INSIGHTS_CONNECTING_STRING: ${{secrets.APP_INSIGHTS_CONNECTING_STRING}}
        run: |
          npm run build

      - name: Run tests
        working-directory: app
        run: |
          npm run test --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: app
          path: app/dist

  e2e-tests:
    name: "E2E Tests"
    uses: ./.github/workflows/e2e-tests.yml

  deploy:
    name: Deploy App
    runs-on: ubuntu-latest
    needs: [build, e2e-tests]
    if: github.ref == 'refs/heads/main' || github.event.inputs.deploy == 'true'

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: app

      - name: Deploy to Azure Static Web App
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          skip_app_build: true
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_JOLLY_HILL_0967E3203 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
