name: Build App

on:
  workflow_call:
    outputs:
      artifact-name:
        description: "The name of the uploaded artifact"
        value: ${{ jobs.build.outputs.artifact-name }}
  workflow_dispatch:

jobs:
  build:
    name: Build App
    runs-on: ubuntu-latest
    outputs:
      artifact-name: app

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: app/package-lock.json

      - name: Get current time
        uses: josStorer/get-current-time@v2
        id: current-time

      - name: NPM install ./
        run: npm ci

      - name: NPM install ./app
        working-directory: app
        run: npm ci

      - name: NPM install ./tests
        working-directory: tests
        run: npm ci

      - name: Check types
        working-directory: app
        run: npm run types:check

      - name: Lint
        working-directory: app
        run: npm run lint

#      - name: Knip
#        working-directory: ./
#        run: npm run knip

      - name: Build
        working-directory: app
        env:
          VITE_COMMIT_HASH: ${{github.sha}}
          VITE_VERSION: ${{github.run_number}}
          VITE_MERGE_DATE_TIME: ${{steps.current-time.outputs.time}}
          VITE_APP_INSIGHTS_CONNECTING_STRING: ${{secrets.APP_INSIGHTS_CONNECTING_STRING}}
        run: npm run build

      - name: Run tests
        working-directory: app
        run: npm run test --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v5
        with:
          name: app
          path: app/dist

