name: E2E Tests
on:
  workflow_dispatch:
  workflow_call:

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    timeout-minutes: 60

    services:
      mongo:
        image: mongo
        ports:
          - 27017:27017

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Download API artifact
        uses: actions/download-artifact@v7
        with:
          name: api
          path: ./api-artifact

      - name: Download App artifact
        uses: actions/download-artifact@v7
        with:
          name: app
          path: ./app-artifact

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.x.x"

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: tests/package-lock.json

      - name: NPM install ./tests
        working-directory: tests
        run: npm ci

      - name: Check types
        working-directory: tests
        run: npm run types:check

      - name: Get Playwright version
        id: playwright-version
        working-directory: tests
        run: echo "version=$(npm list @playwright/test --json | jq -r '.dependencies["@playwright/test"].version')" >> $GITHUB_OUTPUT

      - name: Cache Playwright browsers
        uses: actions/cache@v5
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: playwright-${{ runner.os }}-${{ steps.playwright-version.outputs.version }}

      - name: Install Playwright browsers
        working-directory: tests
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: npx playwright install chromium

      - name: Install Playwright dependencies
        working-directory: tests
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: npx playwright install-deps chromium

      - name: Run Playwright tests
        working-directory: tests
        run: npm run e2e:run-tests

      - name: Prepare artifact name suffix
        if: failure()
        run: echo "ARTIFACT_SUFFIX=${{ github.run_id }}-$(date -u +%Y-%m-%d-%H%M%S)" >> $GITHUB_ENV

      - name: Upload playwright-report
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: playwright-report-${{ env.ARTIFACT_SUFFIX }}
          path: tests/playwright-report/**/*
          retention-days: 5

      - name: Upload test-results
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: playwright-test-results-${{ env.ARTIFACT_SUFFIX }}
          path: tests/test-results/**/*
          retention-days: 5
