name: E2E Tests
on:
  workflow_dispatch:
  workflow_call:

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    timeout-minutes: 60

    services:
      mongo:
        image: mongo
        ports:
          - 27017:27017

    steps:

      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.x.x"

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies (app)
        working-directory: app
        run: npm ci

      - name: Install dependencies (tests)
        working-directory: tests
        run: npm ci

      - name: Check types
        working-directory: tests
        run: npm run types:check

      - name: Lint
        working-directory: tests
        run: npm run lint

      - name: Run tests
        working-directory: tests
        run: npm run e2e:run-tests

      - name: Upload test-results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: playwright-test-results
          path: tests/test-results/**/*
          retention-days: 5

      - name: Upload playwright-report
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: playwright-report
          path: tests/playwright-report/**/*
          retention-days: 5
